* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.font-xsmall {
  font-size: 12px;
  line-height: 19.2px;
}
.font-small {
  font-size: 16px;
  line-height: 24px;
}
.font-medium {
  font-size: 28px;
  line-height: 33.6px;
}
.font-large {
  font-size: 40px;
}
.font-xlarge {
  font-size: 72px;
  line-height: 86.4px;
}
.nav-item .nav-link {
  position: relative;
}
.nav-item .nav-link:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -6px;
  left: 0;
  /* width: 0; */
  background-color: #fff;
  transition: all 0.5s linear;
}
.nav-item:hover .nav-link::before {
  width: 100%;
}

.background {
  background-image: url(images/hero-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.about {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.progress {
  height: 0.7rem;
  margin: 0.5rem 0 1.2rem 0;
}
.icon {
  height: 100px;
  width: 100px;
  font-size: 40px;
  box-shadow: 0 0 0 10px #0078ff;
  transition: all 0.33s ease;
}
.icon:hover {
  box-shadow: 0 0 0 10px #cde1f8;
  background-color: #0078ff;
}
.achievement {
  background-image: url(images/counters-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.overlay {
  background-color: rgba(0, 120, 255, 0.7);
  width: 100%;
  padding: 8rem 0;
}
.modification {
  padding: 4rem 0;
}
.icon2 {
  height: 60px;
  width: 60px;
  line-height: 1.5;
  box-shadow: 0 0 0 10px #cde1f8;
  font-size: 2rem;
  color: white;
}
.portfolio {
  padding-top: 4rem;
}
.port {
  transition: all 0.5s ease;
}
.card:hover .port {
  transform: scale(1.2);
  cursor: pointer;
}
.port-sec {
  box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}
.color {
  font-size: 35px;
  color: #0078ff;
}
.btn {
  border: none;
}
.carousel {
  background-image: url(images/overlay-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
}
.blog {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.blog a {
  text-decoration: none;
  color: #1e1e1e;
  transition: all 1s ease;
}
.blog a:hover {
  color: #0078ff;
  text-decoration: underline;
}
.small {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.badge {
  width: 100px;
  height: 25px;
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: 92%;
}
.contact {
  background-image: url(images/overlay-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.form-button {
  padding: 10px 24px;
}
.social-circle {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  line-height: 1.6;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #0078ff;
  transition: all 500ms ease;
}
.social-circle:hover {
  box-shadow: 0 0 0 3px #cde1f8;
  background-color: #0078ff;
}
footer {
  background-color: #0062d3;
  color: #fff;
  position: relative;
}
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0078ff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.about-me:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}
.about-me {
  font-size: 2rem;
  position: relative;
}
.title-box2 {
  margin-bottom: 3rem;
}
.service-head {
  font-size: 3rem;
}
.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}
